<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 style="color:red">{{time}}</h1>
    <h1 style="font-size: 3em; margin: 70px 170px;">Dear client ,sorry! Actually we are closed,
        we only available in working time (Monday to Friday, from 9 to 17)</h1>
</body>

</html>