<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Page</title>
    <link rel="stylesheet" href={{style}}>
    <style>
        body {
            background-image: url({{image}});
        }
    </style>

</head>

<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/contact">Contact us</a>
        <a href="/services">Our services</a>
    </nav>
    <main>
        <h1>Contact us with</h1>
        <dl>
            <dt>Email:</dt>
            <dd>soussou.anes@gmail.com</dd>
            <dt>Phone Number:</dt>
            <dd>52 776 310</dd>
            <dt>Address</dt>
            <dd>LAMTA-MONASTIR 5099</dd>
        </dl>
        <h1>Or simply by here</h1>
        <textarea name="msg" id="" cols="30" rows="10"></textarea>
        <button type="submit" style="display: block;">SEND</button>
    </main>
</body>

</html>